.hasFilterWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms;
  .Filters {
    transition: opacity 1300ms;
    opacity: 0;
  }
}

.hasFilterOpening {
  max-height: 83px;
  .Filters {
    opacity: 0;
  }
}

.hasFilterOpen {
  max-height: 83px;
  .Filters {
    opacity: 1;
  }
}

.hasFilterClosing {
  transition: max-height 200ms;
  .Filters {
    transition: opacity 300ms;
    opacity: 0;
  }
}

.Filters {
  max-width: 1440px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background: #000;
    width: 100px;
    top: 0;
    left: 0;
  }
  p {
    margin: 0;
  }
  ul {
    margin: 1em;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 25px);
    grid-gap: 5px;
    li {
      box-sizing: border-box;
      width: 25px;
      height: 25px;
      border: 1px solid black;
      box-shadow: 0 0 0 1px white inset;
      border-radius: 50%;
    }
  }
}
