.NavDefaultLayout {
  margin: 0;
  padding: 0;
  list-style: none;
  &__link {
    display: block;
    margin: 1em 0;
    color: #020100;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
