.contentNav {
  position: absolute;
  background: orangered;
  left: 0;
  right: 0;
  transform: translateY(-15%);
  transition: all 300ms;
  margin-top: 47px;
  opacity: 0;
  z-index: 800;
  // &.isOpen {
  //   background-color: rgba(white, 0.9);
  // }
  // &.isOpen,
  &.localActive {
    background-color: sandybrown;
  }
  &.isActive {
    background-color: yellowgreen;
    opacity: 1;
    transform: translateY(0);
  }
  &__list {
    padding: 2em 0;
    transition: all 100ms linear;
    list-style: none;
    margin: 0 auto;
    max-width: 1440px;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 40px;
    display: flex;
    justify-content: center;
  }
  &__item {
    width: calc(25% - 40px);
    margin-right: 40px;
    &:last-of-type {
      margin-right: 0;
    }
    &.isFirstColumn {
      display: flex;
      justify-content: flex-end;
    }
  }
}
