.contentNav {
  position: absolute;
  background: rgba(white, 0.9);
  left: 0;
  right: 0;
  transform: translateY(-15%);
  transition: all 0.3s linear;
  margin-top: 50px;
  opacity: 0;
  z-index: 800;
  &.isOpen {
    background-color: rgba(white, 0.9);
  }
  &.isOpen,
  &.isActive {
    transform: translateY(0);
    opacity: 1;
  }
  &__item {
    &.isFirstColumn {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__list {
    padding: 2em 0;
    transition: all 100ms linear;
    list-style: none;
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
}
