@import "../PrimaryNav/styles.scss";

.PrimaryNav {
  background-color: #fff;
  position: relative;
  z-index: 1000;
  &__list {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  &__item {
    margin-right: 1em;
    padding: 1em 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__link {
    padding: 0 3em;
    display: block;
    text-decoration: none;
    color: #020100;
    @include linkBorder();
    &.active {
      @include linkBorder();
    }
  }
}
