@import "../PrimaryNav/styles.scss";

.SecondaryNav {
  position: absolute;
  left: 0;
  right: 0;
  background-color: tan;
  transform: translateY(-100%);
  transition: transform 300ms 500ms;
  z-index: 900;

  &.levelOneIsOpening {
    transform: translateY(0);
  }
  &.levelOneIsOpen {
    transform: translateY(0);
    background-color: orange;
  }

  &__list {
    transition: all 300ms;
    transition-delay: 100ms;
    opacity: 0;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    &.levelOneIsOpen {
      opacity: 1;
    }
  }
  &__link {
    padding: 1em 3em;
    display: block;
    text-decoration: none;
    color: black;
    @include linkBorder();
  }
}
